
.first{
    width: 40%;
    height: 400px;
    border-radius: 10px;
    padding: 2px;
}

.second-img{
    
    width: 500px;
    height: 200px;
    border-radius: 10px;
    padding: 2px;
    
}

.second{
     display: flex;
    /* flex-direction: row;  */
    max-width: 600px;
    position: relative;
    left: 40%;
    bottom: 400px;
    

}

.third-img{
    width: 500px;
    height: 200px;
    border-radius: 10px;
    padding: 2px;
}

.third{
    display: flex;
    max-width: 600px;
    position: relative;
    left: 40%;
    bottom: 400px;
    right: 20px;
}


.host{
    position: relative;
    bottom: 400px;
    max-width: 40%;
}

.main{
    padding-left: 150px;
    max-width: 80%;
    margin-top: 10px;
   
}

.host-img{
    border-radius: 50%;
    width: 90px;
    height: 50px;
    position: relative;
    left: 400px;
    bottom: 70px;
}

.sticky{
   
    position: sticky;
    width: 480px;
    left: 700px;
    bottom:-30px;
    
    
    height: 200px;
    
    box-shadow: 0px 2px 2px rgb(221, 121, 121);
    
}

.para{
    max-width: 1000%;
}

.sleep-img{
    width: 400px;
    padding-left: 40px;
    max-width: 40%;
}

.prize{
    display: flex;
    flex-direction: row;
}

.rating{
    padding-left: 60px;
    padding-top: 20px;
}

.text{
    max-width: 40%;
    position: relative;
    bottom: 600px;
}

.sleep{
    position: relative;
    bottom: 600px;
}

.heading-title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 0px 2px 3px rgb(158, 158, 199);
    padding-left: 20px;
}

.heading-rating{
    padding-left: 40px;
    font-size: 20px;
}

p{
    font-family: sans-serif;
}

.font-awsome{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: red;
    font-weight: 40px;
    position: relative;
    max-width: 700px;
    left: 400px;
    bottom: 40px;
    font-size: 20px;
}

.bedroom{
    position: relative;
    bottom: 600px;
    max-width: 40%;
   margin-left: 50px;
}

.table{
    display: flex;
    flex-direction: row;
     justify-content: space-around;
     
   /* height: 40px; */
    background-color: rgba(199, 156, 156, 0.363);
    border-radius: 20px;
    border-color: 3px solid black;padding-top: 5px;
  max-width: 100%;
  /* margin-left: 80px; */
  /* padding: 20px; */

}



.ancor{
    color: rgb(158, 158, 199);
    text-decoration:none;
}
.ancor:hover{
    color: rgb(104, 45, 45);
}

.input{
    border-radius: 20px;
    text-align: center;
}

.love{
    padding-left: 50px;
    font-size: 20px;
}

.facilites{
    position: relative;
    bottom: 600px;
}